.MuiListItemButton-root
  .MuiListItemButton-colorNeutral
  .MuiListItemButton-variantPlain
  .css-1r60ufc-JoyListItemButton-root {
  color: #000;
  background-color: #000;
}

.listItem {
  color: #000;
  background-color: #000;
}
