body {
  font-family: Helvetica;
}

.containerItens.open + .containerItens.open {
  display: none;
}

.item1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item2.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item3.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item4.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item5.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item6.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item7 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.item7.open {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.item2.open + .item1 {
  display: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
